[Unit]
Description=Проверять кейс Magic Rust каждые 20 минут

[Timer]
OnCalendar=*:0/20
RandomizedDelaySec=240
Persistent=true
Unit=magicrust-case.service

[Install]
WantedBy=timers.target
